@use '../../styles/vars';
@use '../../styles/mixins' as mixins;

.section {
  @include mixins.section;
  text-align: center;
}

.projectsGrid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21em, 1fr));
  grid-gap: 2em;
}