@use '../../styles/mixins' as mixins;

.project {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  border: 1px solid #ccc;
  overflow: hidden;
}

.project .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.project .image img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.project .details {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  left: -100%;
}

.details {
  display: flex;
  background: rgba(0, 0, 0, 0.9);
  padding-left: 10px;
  width: 100%;
}

.project:hover {
  transform: translateY(-7px);
}

.project:hover .details {
  left: -90%;
}

.project .details.open {
  left: 0;
  transform: translateX(0);
}

.btnWrapper {
  display: flex;
  width: 10%;
  background: none;
  color: #fff;
  justify-content: center;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .btnDetails {
    width: 100%;
  }
}

.detailsData {
  background: none;
  color: #fff;
  width: 90%;
  padding: 10px;
  container-type: inline-size;
}

.projectDesc {
  text-align: left;
  margin-bottom: 10px;
  font-size: 14px;
  font-size: 5cqw;
}

.projectTitle {
  color: #fff;
  font-size: 5cqw;
}

.openArrow {
  transform: rotate(180deg);
}

.linkWrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  gap: 10px;
  background: none;
}

.link {
  @include mixins.link;
  padding: 0px;

  i {
    text-align: center;
    font-size: 8cqw;
  }
}

.projectStack {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  font-size: 12px;
  font-weight: 700;
  font-size: 5cqw;
}
