@use '../../styles/vars';
@use '../../styles/mixins' as mixins;
@use '../../styles/media' as media;

.btn {
  @include mixins.btn;
}

.btnIcon {
  @include mixins.btnIcon;
}

.navHamburger {
  display: none;
  width: 1em;

  @include media.mobile {
    display: flex;
    justify-content: center;
  }
}

.btnActiveIcon {
  @include mixins.btnIcon(true)
}