@use './media' as media;

@mixin center {
  display: flex;
  align-items: center;
}

@mixin section {
  margin-top: 5em;

  .sectionTitle {
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .skillsList {
    max-width: 600px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@mixin link {
  color: var(--clr-primary);
  padding: 0 0 0.3em 0;
  position: relative;
  &:hover {
    color: var(--clr-primary);
  }

  &::before {
    content: '';
    display: inline;
    width: 0%;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    background-color: var(--clr-primary);
    transition: width 0.2s ease-in;
  }

  &:hover::before {
    width: 100%;
  }
}

@mixin btn {
  display: block;
  padding: 0.8em 1.4em;
  font-weight: 500;
  font-size: 0.9rem;
  text-transform: lowercase;
  transition: transform 0.2s ease-in-out;
}

@mixin btnOutline {
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:hover {
    color: var(--clr-bg);
  }

  &:before {
    content: '';
    position: absolute;
    background-color: var(--clr-primary);
    right: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: right 0.2s ease-in-out;
  }

  &:hover::before {
    right: 0;
  }
}

@mixin btnIcon($isActive: false) {
  padding: 0;
  font-size: 1.2rem;
  color: if($isActive, var(--clr-primary), null);

  &:hover {
    color: var(--clr-primary);
  }

  &:active {
    transform: translateY(-5px);
  }
  @include media.mobile {
    font-size: 2rem;
  }
}
