@use '../../styles/vars';
@use '../../styles/mixins' as mixins;

.center {
  @include mixins.center;
}

.about {
  /*   h1 {
    background: url('../../assets/img/a.jpg') no-repeat center/cover;
  } */

  flex-direction: column;
  margin-top: 3em;

  .aboutName {
    color: var(--clr-primary);
  }

  .aboutRole {
    margin-top: 1.2em;
  }

  .aboutDesc {
    font-size: 1.1rem;
    font-weight: 600;
    max-width: 600px;
  }

  .aboutDesc,
  .aboutContact {
    margin-top: 2.4em;
  }

  .about .linkIcon {
    margin-right: 0.8em;
  }

  .about .btnOutline {
    margin-right: 1em;
  }
}

.btn {
  @include mixins.btn;
}

.btnOutline {
  @include mixins.btnOutline;
}

.btnIcon {
  @include mixins.btnIcon;
}
