@use '../../styles/vars';
@use '../../styles/mixins' as mixins;

.center {
  @include mixins.center;
}

.about {
  flex-direction: column;
  margin-top: 3em;

  .aboutNameTitle {
    text-align: center;
  }

  .aboutName {
    color: var(--clr-primary);
  }

  .aboutRole {
    margin-top: 1.2em;
    text-align: center;
  }

  .aboutDesc {
    font-size: 1.2rem;
    font-weight: 600;
    max-width: 600px;
  }

  .aboutDesc,
  .aboutContact {
    margin-top: 2.4em;
  }

  .about .linkIcon {
    margin-right: 0.8em;
  }

  .about .btnOutline {
    margin-right: 1em;
  }

  .underlineTitle{
    @include mixins.underlineTitle
  }
}

.btn {
  @include mixins.btn;
}

.btnOutline {
  @include mixins.btnOutline;
}

.btnIcon {
  @include mixins.btnIcon;
}
