@use '../../styles/mixins' as mixins;

.navWrapper {
  display: flex;
  .nav {
    .navLink {
      color: var(--clr-fg);
      font-weight: 500;
    }

    .linkIcon {
      color: var(--clr-fg);
      font-size: 1.2rem;
    }

    .navList {
      margin-right: 1.5em;
      display: flex;
    }

    .navListItem {
      margin-left: 1.5em;
    }

    .navHamburger {
      display: none;
      width: 1em;
    }
  }

  .btnIconWrapper {
    display: flex;
    gap: 10px;
  }

  .link {
    @include mixins.link;
  }
}
