@use '../../styles/mixins' as mixins;
@use '../../styles/media' as media;

.navWrapper {
  display: flex;

  .nav {
    .navLink {
      color: var(--clr-fg);
      font-weight: 500;
    }

    .linkIcon {
      color: var(--clr-fg);
      font-size: 1.5rem;
    }

    .navList {
      margin-right: 1.5em;
      display: flex;
      font-size: 20px;

      @include media.mobile {
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 5em;
        width: 0;
        overflow: hidden;
        transition: width 0.2s ease-in-out;
        margin-right: 0px;
      }
    }

    .navListItem {
      margin-left: 1.5em;
      text-align: right;
      width: 100%;
      @include media.mobile {
        margin-left: 0;
        font-size: 20px;
      }
    }

    .displayNavList {
      @include media.mobile {
        width: 100%;
      }
    }

    .center {
      @include mixins.center;
    }
  }

  .btnIconWrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    @include media.mobile {
      gap: 16px;
    }
  }

  .link {
    @include mixins.link;
    @include media.mobile {
      padding-right: 20px;
    }
  }
}
