@use '../../styles/vars';
@use '../../styles/mixins' as mixins;

.footer {
  padding: 2em 0;
  text-align: center;
}

.footerLink {
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--clr-fg);
}

.link {
  @include mixins.link;
}
